/*
 * The CSS in this file is for demo purposes only, but can also be used as a boilerplate for a project.
 */

.page-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}

.snippet-demo {
  position: relative;
  width: 100%;
  height: 300px;
}