{{input type="radio" id=controlId class="mdl-radio__button" name=currentName value=value checked=checked}}
<span class="mdl-radio__label">{{label}}</span>
<span class={{CssClasses.RADIO_OUTER_CIRCLE}}></span>
<span class={{CssClasses.RADIO_INNER_CIRCLE}}></span>