{{input class=(concat "mdl-slider is-upgraded " (if isLowestValue 'is-lowest-value')) type="range" min=min max=max value=value tabindex=tabindex}}
<div class="mdl-slider__background-flex">
    <div class="mdl-slider__background-lower" style={{lowerStyle}}></div>
    <div class="mdl-slider__background-upper" style={{upperStyle}}></div>
</div>