{{input type="checkbox" id=controlId class="mdl-switch__input" name=name checked=checked}}
<span class="mdl-switch__label">{{label}}</span>
<div class={{CssClasses.TRACK}}></div>
<div class={{CssClasses.THUMB}}></div>