<h3>Badges</h3>

<h4>Icon badge</h4>
{{mdl-badge badge=1 icon="account_box"}}
<h4>Icon badge with symbol</h4>
{{mdl-badge badge="♥" icon="account_box"}}

<h4>Text badge</h4>
{{mdl-badge badge="4" label="Inbox"}}
<h4>Text badge with symbol</h4>
{{mdl-badge badge="♥" label="Mood"}}

