<h3>Badges</h3>
<!-- Number badge on icon -->
<span class="material-icons mdl-badge" data-badge="1">account_box</span>
<!-- Icon badge on icon -->
<span class="material-icons mdl-badge" data-badge="♥">account_box</span>




<!-- Number badge -->
<span class="mdl-badge" data-badge="4">Inbox</span>
<!-- Icon badge -->
<span class="mdl-badge" data-badge="♥">Mood</span>