
<h3>Raised Button</h3>
{{#mdl-button   raised=true }}Button{{/mdl-button}}
{{#mdl-button  ripple=true raised=true }}Button{{/mdl-button}}


<h3>FAB</h3>
{{#mdl-button fab=true ripple=true }}<i class="material-icons">add</i>{{/mdl-button}}
{{#mdl-button fab=true accent=true }}<i class="material-icons">add</i>{{/mdl-button}}
{{#mdl-button fab=true accent=true ripple=true }}<i class="material-icons">add</i>{{/mdl-button}}
